$background: #232035;
$foreground: #ffeecc;
$accent: #f06e76;


$darken: brightness(75%);
$lighten: brightness(125%);

* {
    box-sizing: border-box;
}

html {
    min-width: 100vw;
    min-height: 100vh;

    font-family: "Inter", sans-serif;
    background-color: $background;
    color: $foreground;

    scrollbar-width: thin;
    scrollbar-color: $accent $background;
}

header {
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    align-items: center;

    &>*:only-child {
        margin: auto;
    }

    h1 {
        margin: 0;
        margin-right: 2.5rem;
    }

    nav {

        padding: 0;
        display: flex;
        gap: 0.5rem;
        align-items: baseline;

        .divider {
            color: $foreground;
            filter: $darken;
        }
    }
}


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    max-width: 768px;
    margin: 0 auto;
    padding: 1rem;

    nav {
        display: flex;
        justify-content: space-between;
    }
}

footer {
    margin: 1rem 0;
    text-align: center;
}

main {
    nav {
        margin-top: 2.5rem;
    }
}

a {
    color: $accent;
    text-decoration: none;

    &:hover {
        filter: brightness(125%);
    }
}

figure {
    margin: 2.5rem 0;

    img {
        display: block;
        margin: 0 auto;
        height: auto;
        max-width: 100%;
    }

    figcaption {
        font-style: italic;
        text-align: center;
        margin: 1rem 0;
    }
}

pre {
    padding: 1rem;
    border-radius: 4px;
}

.posts {
    list-style-type: none;
    padding: 0;

    .post {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        align-items: baseline;

        &>a {
            text-decoration: underline;
        }

        time {
            font-family: monospace;
            font-size: large;
            font-style: italic;
            filter: $darken;
        }
    }
}

.meta {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 2rem;

    time {
        font-style: italic;
    }
}

.taxonomy-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    font-size: larger;

    .taxonomy-term {
        display: flex;
        align-items: center;

        span {
            font-family: monospace;
        }
    }
}

.topics {
    display: flex;
    font-style: italic;
}

.four-oh-four {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 600px) {
    .posts {
        li {
            gap: 0;
            flex-direction: column;
            padding: 0.5rem 0;

            time {
                order: 2;
            }

            &>a {
                order: 1;
                padding: 0.25rem 0;
            }

            div {
                order: 3;
            }
        }
    }
}