@import "tailwindcss";

@theme {
    --color-bg: var(--color-stone-200);
    --color-fg: var(--color-stone-700);
    --color-accent: var(--color-violet-600);
    --color-accent-hover: var(--color-violet-900);
}

@layer base {
    body {
        @apply min-h-screen max-w-3xl mx-auto p-6;
        @apply flex flex-col justify-center;
        @apply bg-linear-to-b from-bg to-white text-fg;
    }

    footer {
        @apply text-center my-6;
    }

    p {
        @apply my-4;
    }

    main {
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-semibold text-center my-4 sm:text-left;
    }

    h1 {
        @apply text-3xl sm:text-4xl;
    }

    h2 {
        @apply text-2xl sm:text-3xl;
    }

    h3 {
        @apply text-xl sm:text-2xl;
    }

    h4 {
        @apply text-lg sm:text-xl;
    }

    h5 {
        @apply italic sm:text-lg;
    }

    h6 {
        @apply italic font-medium;
    }

    img {
        @apply rounded sm:shadow-xl mx-auto my-2;
    }

    a {
        @apply text-accent hover:text-accent-hover transition-colors;
    }

    figure {
        @apply my-8;
    }

    figcaption {
        @apply text-center italic;
    }
}
