@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

:root {
  --background: #1e1e2e;
  --background-light: #32324b;
  --foreground: #cdd6f4;
  --accent: #cba6f7;
  --disabled: #6c7086;
  --active: #f5c2e7;

  --font-display: "Oswald";
  --font-body: "Inter";
  --font-monospace: "Roboto Mono";

  --darken: 85%;

  --content-width: 768px;
  --content-padding: 1rem;
}

html {
  color: var(--foreground);
  background-color: var(--background);

  /* polka dot background */
  background-color: #181825;
  opacity: 1;
  background-image: radial-gradient(#1e1e2e 0.9px, #181825 0.9px);
  background-size: 18px 18px;
}

body {
  font-family: var(--font-body), sans-serif;
  max-width: var(--content-width);
  margin: 0 auto;
  padding: var(--content-padding);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-display), var(--font-body), sans-serif;
}

a {
  color: var(--accent);
}

figure {
  margin: 2.5rem 0;
}

figure,
img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

figcaption * {
  text-align: center;
  font-style: italic;
}

time {
  font-style: italic;
}

header {
  margin-bottom: 2.5rem;
}

header > h1 {
  margin-top: 0;
}

footer {
  text-align: center;
  margin-top: 2.5rem;
}

hr {
  color: var(--accent);
  margin: 2.5rem 0;
  filter: brightness(var(--darken));
}

.tags {
  display: flex;
  filter: brightness(var(--darken));
  gap: 0.5rem;
}

.post {
  display: flex;
  gap: 1rem;
}

.post > time {
  font-family: var(--font-monospace);
  filter: brightness(var(--darken));
}

.post-meta {
  margin-bottom: 2rem;
}

.post-nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 1rem;
}

.post-nav a {
  text-decoration: none;
}

.pagination {
  display: flex;
  gap: 1rem;
  list-style-type: none;
  justify-content: center;
  padding-left: 0;
}

.pagination a {
  text-decoration: none;
}

.disabled * {
  color: var(--disabled);
}

.active * {
  color: var(--active);
}

#disqus_thread {
  margin-top: 1rem;
}

@media only screen and (max-width: 768px) {
  header {
    margin-bottom: 1rem;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-align: center;
  }

  .post-meta {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  #back {
    display: none;
  }

  .posts {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .post {
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  .post > a {
    order: 1;
    width: 100%;
    font-size: large;
  }

  .post > time {
    order: 2;
  }

  .post > .tags {
    order: 3;
  }
}
