---
interface Props {
    title: string;
}

const { title } = Astro.props;

const links = [
    { url: "/", name: "home" },
    { url: "/topics", name: "topics" },
];
---

<header
    class="flex flex-col-reverse items-end sm:flex-row flex-wrap-reverse justify-between my-4 items-center gap-4"
>
    <h1 class="m-0 mr-4">{title}</h1>
    <nav class="flex gap-2 text-2xl sm:text-base">
        {
            links.map((link, index) => (
                <>
                    <a href={link.url}>{link.name}</a>
                    {index < links.length - 1 && <span>/</span>}
                </>
            ))
        }
    </nav>
</header>
