---
import Date from "./Date.astro";
import Topics from "./Topics.astro";

interface Props {
    url: string;
    title: string;
    date: Date;
    topics: string[];
}

const { url, title, date, topics } = Astro.props;
---

<div class="flex flex-wrap gap-x-2 my-2 sm:my-0 sm:items-baseline">
    <Date class="order-2 sm:order-1" date={date} />
    <a
        class="order-1 w-full text-xl sm:text-base sm:w-fit sm:order-2"
        href={url}>{title.toLocaleLowerCase()}</a
    >
    <Topics class="order-3" topics={topics} />
</div>
