---
interface Props {
    topics: string[];
    class?: string;
}

const { topics, class: className } = Astro.props;
---

<div class={`${className}`}>
    {topics.map((topic) => <a href={`/topics/${topic}`}>#{topic}</a>)}
</div>
