{{ define "title" }}
{{ .Title | strings.Title }} &ndash; {{ .Site.Title | strings.Title }}
{{ end }}

{{ define "main" }}

<article>

    <a id="back" href="{{ .Parent.RelPermalink }}">&larr; Back </a>

    <h1> {{ .Title | strings.Title }} </h1>

    <div id="meta">
        <time datetime="{{ .Date }}"> {{ .Date | time.Format ":date_full" }} </time>
        {{ partial "tags" . }}
    </div>
    {{ .Content }}


    <div id="nav">
        <div>
            {{ with .Prev }}
            <a href="{{ .RelPermalink}}"> &larr; {{ .LinkTitle | strings.Title }} </a>
            {{ end }}
        </div>

        <div>
            {{ with .Next }}
            <a href="{{ .RelPermalink}}"> {{ .LinkTitle | strings.Title }} &rarr; </a>
            {{ end }}
        </div>
    </div>

</article>

<hr />

{{ template "_internal/disqus.html" . }}

{{ end }}