{{ define "main" }}

<div class="meta">
    <time datetime="{{ .Date }}">{{ .Date | time.Format "2006-01-02" }}</time>
    {{ partial "terms" (dict "page" . "taxonomy" "topics") }}
</div>

{{ .Content }}

<div class="post-nav">
    <div>
        {{ with .Prev }}
        <a href="{{ .RelPermalink }}"> &larr; {{ lower .LinkTitle }} </a>
        {{ end }}
    </div>

    <div>
        {{ with .Next }}
        <a href="{{ .RelPermalink }}"> {{ lower .LinkTitle }} &rarr; </a>
        {{ end }}
    </div>
</div>

{{ end }}