{% extends "base.html" %}

{% block main %}


<div class="four-oh-four">

    <h3>404 Not Found</h3>
    <pre>

   *  .  . *       *    .        .        .   *    ..
 .    *        .   ###     .      .        .            *
    *.   *        #####   .     *      *        *    .
  ____       *  ######### *    .  *      .        .  *   .
 /   /\  .     ###\#|#/###   ..    *    .      *  .  ..  *
/___/  ^8/      ###\|/###  *    *            .      *   *
|   ||%%(        # }|{  #
|___|,  \\         }|{


</pre>

</div>



{% endblock main %}