<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="My core dumps: a blog about my thoughts, feelings, and adventures.">
        <link rel="stylesheet" href="{{ get_url(path='style.css') }}">
        <title>
            {% if page.title %}
            {{ page.title }}
            {% elif section.title %}
            {{ section.title }}
            {% endif %}
        </title>
    </head>

    <body>

        <header>
            {% if page.title %}
            <h1> {{ page.title | lower }} </h1>
            {% elif section.title %}
            <h1> {{ section.title | lower }} </h1>
            {% elif term.name %}
            <h1> #{{ term.name | lower }} </h1>
            {% elif taxonomy.name %}
            <h1> {{ taxonomy.name | lower }} </h1>
            {% endif %}

            <nav>
                {% for link in config.extra.nav %}
                <a href="{{ link.url | safe }}">{{ link.name }}</a>
                {% if not loop.last %}
                <span class="divider">/</span>
                {% endif %}
                {% endfor %}
            </nav>
        </header>

        <main> {% block main %} {% endblock main %} </main>

        <footer>
            <p>
                &copy; {{ now() | date(format="%Y") }} Austen LeBeau. All rights reserved.
            </p>
        </footer>

    </body>

</html>