{% extends "base.html" %}
{% block main %}

<div class="meta">
    <time datetime="{{ page.date }}"> {{ page.date | date(format="%A, %B %-d, %Y") }} </time>
    {% include "partials/topics.html" %}
</div>

{{ page.content | safe }}

<nav>
    <div>
        {% if page.higher %}
        <a href="{{ page.higher.permalink | safe }}">&larr; {{ page.higher.title | lower }}</a>
        {% endif %}
    </div>

    <div>
        {% if page.lower %}
        <a href="{{ page.lower.permalink | safe }}">{{ page.lower.title | lower }} &rarr;</a>
        {% endif %}
    </div>
</nav>

{% endblock main %}